body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*
* {
  cursor: cell;
}

h1 {
  word-wrap: break-word;
  width: 50%;
  text-align: center;
}

@keyframes groe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */


