* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-home {
  height: 100vh;
  width: 100%;

  background-image: url("bg.svg");
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

header,
.header-content {
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: white;
}

.header-button {
  border: 2 px solid white;
}

.header-icons > a {
  margin: 10px;
}

.header-button {
  border: 2px solid white;
  padding: 15px;
}

.header-icons > a :hover {
  color: #fd1e43;
}

.header-button :hover {
  color: #fd1e43;
  border: 2 px solid #fd1e43;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
p,
.button-contact {
  color: white;
  margin: 20px;
}

h1 {
  font-size: 4em;
  width: 80%;
  text-align: center;
}

.button-contact {
  background-color: #fd1e43;
  padding: 20px;
}
