body {
  background-color: #201f24;
  padding: 20px;
}

* {
  color: #fffef9;
}

section {
  columns: 3;
}

img {
  width: 200px;
  transition-duration: 3s;
}

img:hover {
  animation: rodar 0.2s linear infinite;
}

@keyframes rodar {
  to {
    transform: rotate(360deg);
  }
}
